html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: sans-serif;
}

div, nav, header, footer {
    position: relative;
    display: block;
    vertical-align: top;
}

/*==GENERAL TEXT==*/
a, p, h1, h2, h3, h4 {
    margin: 0;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 1em 0;
}

h1 { font-size: 1.7em; 
     margin-bottom: 5px; }
h2 { font-size: 1.3em; 
     margin-bottom: 5px; }
h3 { font-size: 1em;
     margin-bottom: 5px; }
h4 { font-size: 0.5em; }

code {
    font: 0.9em 'Andale Mono', Consolas, 'Courier New';
}

/*==GENERAL CLASSES==*/
.container {
    
}

.wrap {
    margin: 0 10%;
}

.section {
    padding: 60px 0;
}

.code {
    background-color: #1a1e24;
    color: white;
}

.color_strip {
    background: #0066ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(20deg, #0099ff, #33cc33); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(20deg, #0099ff, #33cc33); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(20deg, #0099ff, #33cc33); /* For Firefox 3.6 to 15 */
    background: linear-gradient(20deg, #0099ff, #33cc33);
}

    .cs1 { height: 1px; }
    .cs3 { height: 3px; }

/*==SIDENAV==*/
nav.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    list-style: none;
    background: #1a1e24;
    overflow-x: hidden;
    transition: 0.5s;
}

    .sidenav li {
        font-size: 0.9em;
        padding-bottom: 1px;
    }

    .sidenav a, .sidenav h3 {
        color: grey;
        transition: ease-in-out 0.2s;
    }

    .sidenav h3 a:hover {
        color: #ffcc00;    
    }

    .sidenav li a {
        border-left: 1px solid grey;
        padding: 2px 0 2px 13px;
    }

    .sidenav li a:hover {
        color: #0099ff;
        border-left: 1px solid #ffcc00;
    }

    .nav-section {
        padding: 10px 0;
        border-collapse: collapse;
        border-bottom: 1px solid grey;
    }

    .nav-subsection {
        padding-left: 3px;
    }

    h3.active a {
        color: white;
    }

    li.active a {
        list-style: disc;
        color: #0099ff;
        border-left: 1px solid #ffcc00;
    }

#navbtn {
    margin: 0 5px 0 15px;
}

#navbtn a {
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: ease-in-out 0.5s;
}

#navbtn.open a {
    color: #0099ff;
}

#navbtn a:hover {
    color: #0099ff;
}

#navbtn.open a:hover {
    color: white;
}

#content {
    transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*==HEADER==*/
header .container {
    padding: 20px 0;
    background-color: #1a1e24;
}

header a {
    color: white;
}

header h1 {
    margin: 0;
}

#logo {
    position: absolute;
    top: -5px;
    right: 20px;
    height: 100px;
    width: 100px;
}

/*==TABLE OF CONTENTS==*/
#table-of-contents {
    background-color: #1a1e24;
    color: white;
}

#table-of-contents ul.toc {
    padding: 0 5%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#table-of-contents ul.toc ul {
    padding-left: 0.3em;
}

#table-of-contents ul.toc li li a, #table-of-contents ul.toc h3 a {
    transition: ease-in-out 0.2s;
}

#table-of-contents ul.toc li {
    list-style-type: none;
    -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
}

#table-of-contents ul.toc>li {
    margin-top: 5px;
    padding-bottom: 2px;
}

#table-of-contents ul.toc li li {
    margin-bottom: 1px;
}

#table-of-contents ul.toc li li a {
    padding: 4px 0 4px 26px;
    border-left: 2px solid white;
}

#table-of-contents ul.toc li li:last-child a {
    padding: 4px 0 0 26px;
}

#table-of-contents ul.toc li li a:hover {
    color: #0099ff;
    border-left: 2px solid #ffcc00;
}

#table-of-contents ul.toc h3 {
    font-size: 1.2em;
}

#table-of-contents ul.toc h3 a:hover {
    color: #ffcc00;
}

@media screen and (max-width: 750px) {
    #table-of-contents ul.toc {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}