.view .view-box {
  padding: 0 150px;
  margin-bottom: 20px;
  z-index: 0;
}

.view .code-box {
  background-color: black;
  color: white;
  padding: 40px 150px;
  margin: 20px 0;
  wrap-option: pre;
}

.dotted-due {
  background-color: var(--color-text);
  border-radius: 20px;
  color: var(--color-bg);
  font-size: 0.8em;
  padding: 1px 0.6em;
  margin-left: 0.5em;
}

.dotted-event {

}

@media only screen and (max-width: 800px) {
  .view .view-box {
    padding: 0 50px;
  }

  .view .code-box {
    padding: 40px 50px;
  }
}