.app {
  --color-orange: rgb(253, 148, 8);
  --color-red: rgb(133, 1, 11);
  --color-blue: #4db8ff;
  --color-green: rgb(47, 67, 34);
}

.app .element-list {
  margin: 0 10%;
  padding: 35px 0;
}

h2 {
  margin-left: 10%;
  font-weight: 100;
}

span.course {
  color: var(--color-blue);
}
